@{
    ViewBag.Title = "Sabre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="MainPageElement">
    <h2>Games</h2>

    <a href="http://kidshealth.org/kid/games/_bfs_foodflight.html" target="_blank">Flash Game: Food Flight Christmas</a><br />
    <a href="http://kidshealth.org/kid/games/mission_nutrition.html" target="_blank">Flash Game: Mission Nutrition</a><br />
    <a href="http://kidshealth.org/kid/games/pumpkin_gm.html" target="_blank">Flash Game: Pumpkin-O-Meter</a><br />
    <a href="http://kidshealth.org/kid/games/spelling_gm.html" target="_blank">Flash Game: The Spelling Bee Game</a><br />
    <a href="http://kidshealth.org/kid/games/bed_game_source.html" target="_blank">Flash Game: Time For Bed</a><br />
</div>
<div class="MainPageElement">
    <div>
        <img id="back" src="~/Content/Images/logo.jpg" class="backToStart" />
    </div>
    <div>
        Are you ok?
    </div>
</div>

<script>
    document.getElementById("back").addEventListener("click", function () {
        var url = '@Url.Action("/Index")';
        window.location.href = url;
    });
</script>