@{
    ViewBag.Title = "Sabre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="MainPageElement">
    <img src="~/Content/Images/logo.jpg" style="height:inherit;" class="logo" />
</div>
<h2 class="MainPageElement">Are you alive?</h2>

@using (Html.BeginForm("okGo", "Home"))
{
    <div class="MainPageElement">
        <input type="submit" name="btOkGo" value="I'm fine" class="button" />
    </div>
}


