@{
    ViewBag.Title = "Index";
}
<<<<<<< HEAD
<div class="HomePageLogo" >
    <img src="~/Content/Images/logo.jpg" style="height:inherit;" />
</div>
<h2>Tell me you're ok? click the button</h2>
=======

<h2>Tell me you're ok? dev change</h2>
<h2>Zed is looking</h2>
>>>>>>> master

@using (Html.BeginForm("okGo","Home"))
{
    <input type="submit" name="btOkGo" value="I'm fine" />
}
