@{
    ViewBag.Title = "Index";
}
<div class="HomePageLogo" >
    <img src="~/Content/Images/logo.jpg" style="height:inherit;" />
</div>
<h2>Tell me you're ok? click the button</h2>

@using (Html.BeginForm("okGo","Home"))
{
    <input type="submit" name="btOkGo" value="I'm fine" />
}
