@{
    ViewBag.Title = "Index";
}

<h2>Tell me you're ok? dev change</h2>
<h2>Zed is looking</h2>

@using (Html.BeginForm("okGo","Home"))
{
    <input type="submit" name="btOkGo" value="I'm fine" />
}
