@{
    ViewBag.Title = "Index";
}

<h2>Tell me you're ok? click on button</h2>
<h2>Naf is looking at it</h2>

@using (Html.BeginForm("action","HomeController"))
{
    <input type="submit" name="btOkGo" class="okGo" value="I'm fine" />
}
