@{
    ViewBag.Title = "Sabre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/Styles/jquery.countdown.css" rel="stylesheet" />
}

@section scripts
{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery.plugin.js"></script>
    <script src="~/Scripts/jquery.countdown.js"></script>

    <script>
        var time = 10;
        countDown();

        function countDown() {
            document.getElementById("timer").innerHTML = time;
            if (time >= 0) {
                window.setTimeout("countDown()", 1000);
            } else {
                document.getElementById("timer").innerHTML = "Are you ok?...";
                
                window.setTimeout(function () {
                    var url = '@Url.Action("/Index")';
                    window.location.href = url;
                }, 1000);
            }

            time -= 1;
        }

        function reset() {
            time = 10;
            Update();
        }

        function Update() {
            $.ajax({
                type: 'Get',
                url: "UpdateDB",
                success: function (errors) {
                    if (errors.length == 0) {
                        //window.location = "/Home/index"
                    }
                    else {
                        $("#Errors").children().remove();
                        JSONHelper.BurnIn("Errors", errors);
                        $("#Errors").attr("style", "visbility:visible")
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    }
                    return false;
                }
            });
            return false;
        };
    </script>
}
<div class="MainPageElement">
    <img src="~/Content/Images/jesus.jpg" class="logo" />
</div>
<div class="MainPageElement">
    <span class="message">
        Nice!
    </span>
</div>
<div>
    <div id="timer" class="MainPageElement timer" style="font-size:40px"></div>
</div>
<div class="MainPageElement">
    <button type="button" id="reset" class="button" onclick="reset()">I'm Still Fine</button>
</div>
<br />
@using (Html.BeginForm("Games", "Home"))
{
<div class="MainPageElement">
    <h2>Try your hand at health-related games and extend your life!</h2>
    <input type="submit" name="btGames" value="Go to Games!" />
</div>
}
