@{
    ViewBag.Title = "Sabre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/Styles/jquery.countdown.css" rel="stylesheet" />
}

@section scripts
{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery.plugin.js"></script>
    <script src="~/Scripts/jquery.countdown.js"></script>

    <script>
        var now = new Date();
        console.log("now: " + now);
        var deadLine = now;
        console.log("now: " + now + "\ndeadline: " + deadLine);
        var mins = now.getMinutes();
        console.log("now: " + now + "\ndeadline: " + deadLine + "\nmins: " + mins);
        mins = mins + 1;
        console.log("now: " + now + "\ndeadline: " + deadLine + "\nmins: " + mins);
        deadLine.setMinutes(mins);
        console.log("now: " + now + "\ndeadline: " + deadLine + "\nmins: " + mins);
        $('#defaultCountdown').countdown({ until: new Date(2016, 1, 1), format: 'HMS' });
        $('#reset').click(function () {
            now = new Date();
            mins = now.getMinutes() + 1;
            deadLine.setMinutes(mins, now.getSeconds, now.getMilliseconds);
        })
    </script>
}
<div>
    Nice
</div>
<div>
    <div id="defaultCountdown" class="countdown is-countdown"></div>
</div>
<button type="button" id="reset">I'm Still Fine</button>
