@{
    ViewBag.Title = "Sabre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/Styles/jquery.countdown.css" rel="stylesheet" />
}

@section scripts
{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery.plugin.js"></script>
    <script src="~/Scripts/jquery.countdown.js"></script>

    <script>
        var time = 10;
        countDown();

        function countDown() {
            document.getElementById("timer").innerHTML = time;
            if (time >= 0) {
                window.setTimeout("countDown()", 1000);
            } else {
                document.getElementById("timer").innerHTML = "Are you ok?...";
                
                window.setTimeout(function () {
                    var url = '@Url.Action("/")';
                    window.location.href = url;
                }, 1000);
            }

            time -= 1;
        }

        function reset() {
            time = 10;
        }
    </script>
}
<div class="MainPageElement">
    <img src="~/Content/Images/jesus.jpg" class="logo" />
</div>
<div class="MainPageElement">
    <span class="message">
        Nice!
    </span>
</div>
<div>
    <div id="timer" class="MainPageElement timer"></div>
</div>
<div class="MainPageElement">
    <button type="button" id="reset" class="button" onclick="reset()">I'm Still Fine</button>
</div>
<br />
<div class="MainPageElement">
    <h2>Try your hand at health-related games and extend your life!</h2>
    <a href="http://kidshealth.org/kid/games/_bfs_foodflight.html" target="_blank">Flash Game: Food Flight Christmas</a><br />
    <a href="http://kidshealth.org/kid/games/mission_nutrition.html" target="_blank">Flash Game: Mission Nutrition</a><br />
    <a href="http://kidshealth.org/kid/games/pumpkin_gm.html" target="_blank">Flash Game: Pumpkin-O-Meter</a><br />
    <a href="http://kidshealth.org/kid/games/spelling_gm.html" target="_blank">Flash Game: The Spelling Bee Game</a><br />
    <a href="http://kidshealth.org/kid/games/bed_game_source.html" target="_blank">Flash Game: Time For Bed</a><br />
</div>

