@{
    Layout = null;
}

<!DOCTYPE html>

&lt;script&gt;
var dt = '@ViewBag.EndDate';
var dateAr = dt.split('-');
var newDate = dateAr[0] + '/' + dateAr[1] + dateAr[2];

var end = new Date(dateAr[0] + '/' + dateAr[1] + '/' + dateAr[2]);

var _sec = 1000;
var _min = _sec * 60;
var _hour = _min * 60;
var _day = _hour * 24;
var timer;

function showRemaining() {
    var now = new Date();
    var distance = end - now;
    if (distance &lt; 0){
        clearInterval(timer);
        document.getElementById('countdown').innerHTML = 'end';
        window.location.href = '/';

        return;
    }

    var days = Math.floor(distance/_day);
    var hours = Math.floor((distance % _day)/hour);
    var mins = Math.floor((distace % _hour) / _min);
    var secs = Math.floor((distance % _min) / _sec);

    document.getElementById('countdown').innerHTML = hours + 'hrs ';
    document.getElementById('countdown').innerHTML += mins + 'mins ';
    document.getElementById('countdown').innerHTML += secs + 'secs';
}

timer = setInterval(showRemaining, 100);
&lt;/script&gt;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>okGoResponse</title>
</head>
<body>
    <div>
        Nice
    </div>
    <div>
        <label id="countdown" />
    </div>
</body>
</html>
